@media only screen and (min-width:1001px){
    #stopka{
        display:none;
    }
}
@media only screen and (max-width: 1000px)
{
    body{
        top: 11vh !important;
        height: calc(100% - 11vh);
        position: absolute !important;
    }

    .topBar{
        position: relative !important;
    }

    .kontenerLogowanie table {

        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        border-collapse: collapse;
        border-spacing: 0;
        box-shadow: 0 2px 15px rgba(64,64,64,.7);
        border-radius: 0px 0px 0 0 !important;
        overflow: hidden;
        margin-bottom: 0px;
        font-size: 0.7rem;
    }

    .kontenerLogowanie th,td {
        padding: 15px 20px;
        text-align: center;
        font-size: 1rem;
    }

    .kontenerLogowanie th {
        background-color: #003C82;
        color: #fafafa;
        font-weight: 200;
        text-transform: uppercase;
    }

    .kontenerLogowanie tr {
        width: 100%;
        background-color: #fafafa;
    }

    .kontenerLogowanie tr:nth-child(even){
        background-color: #eeeeee;
    }

    .kontenerLogowanie table a{
        position: relative;
        display: inline-block;
        padding: 15px 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 40px;
        background: linear-gradient(90deg, rgba(0,60,130,1) 4%, rgba(22,15,100,1) 100%, rgba(0,212,255,1) 100%);
    }

    .kontenerLogowanie .bt {
        position: relative;
        display: inline-block;
        padding: 15px 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        border-radius: 40px;
        background: linear-gradient(90deg, rgba(0,60,130,1) 4%, rgba(22,15,100,1) 100%, rgba(0,212,255,1) 100%);
    }



    .kontenerLogowanie #szukaj {
        margin-left: auto;
        display: block;
        margin-right: auto;
        width: calc(100% - 2vw);
        border: 2px solid #aaa;
        border-radius: 4px;
        outline:none;
        padding: 8px;
        box-sizing:border-box;
        transition:0.3s;
    }

    .kontenerLogowanie #szukaj:focus {
        border-color:dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 370px)
{
.kontenerLogowanie table {
        font-size: 0.8rem;
    }

.kontenerLogowanie table a {
        font-size: 0.8rem;
    }
}
