@media only screen and (min-width:801px){
    #stopka{
        display:none;
    }
}
@media only screen and (max-width: 800px)
{
    .topBar{
        position: relative !important;
        display:none;
    }
    #stopka{
        display:initial;
        background-color: #003C82;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transform:rotate(90deg);
        top:34% !important;
    }
    #stopka img{
        transform:rotate(-90deg);
    }

    #stopka:hover{
        background: rgb(0,37,79);
        background: linear-gradient(180deg, rgba(0,37,79,1) 0%, rgba(0,60,130,1) 100%);

    }

    .kontenerBudynki a {
        position: relative;
        display: inline-block;
        padding: 15px 20px;
        border-radius: 0px;
        background: #003C82 !important;
    }

    #stopka ol > li{
            display: block;
	list-style: none;
	margin: 0;
	padding: 0;

    }

}