@media only screen and (min-width:1001px){
    #stopka{
        display:none;
    }
}
@media only screen and (max-width: 1000px)
{
    body{
        top: 11vh !important;
        height: calc(100% - 11vh);
        position: absolute !important;
    }

    .topBar{
        position: relative !important;
    }

    .kontenerPunkty h1{
        top: auto;
    }

    .kontenerPunkty table {
        width: 100% !important;
        border-collapse: collapse;
        border-radius: 0px 0px 0 0;
        margin-bottom: 0px;
        font-size: 0.8rem;
    }

    .kontenerPunkty tr {
        width: 100%;
        background-color: #fafafa;
    }

    .kontenerPunkty table a {
        font-size: 0.8rem;
    }

    #prawo {
        margin-right: 10vw;
    }

    #lewo {

        margin-left: 10vw;
    }
}

@media only screen and (max-width: 450px)
{
.kontenerPunkty table {
        font-size: 0.7rem;
    }

.kontenerPunkty table a {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 370px)
{
.kontenerPunkty table {
        font-size: 0.6rem;
    }

.kontenerPunkty table a {
        font-size: 0.6rem;
    }
}
