@media only screen and (min-width:1001px){
    #stopka{
        display:none;
    }
}
@media only screen and (max-width: 1000px)
{
    .topBar{
        position: relative !important;
        display:none;
    }

    #stopka{
        display:initial;
        background-color: #003C82;
        width: 100%;
        height: 11vh;
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        z-index: 2;
        top:0;
    }

    #map {
        width: 100%;
        height: calc(100% - 10vh);
        top: 10vh;
        position: absolute;
        border: 0;
        z-index: 1;
    }

    #stopka img{
        margin-top: 5px;
        width: 9vh;
        height: 9vh;
    }

    #stopka:hover{
        background: rgb(0,37,79);
        background: linear-gradient(180deg, rgba(0,37,79,1) 0%, rgba(0,60,130,1) 100%);
    }

    #stopka ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #003C82;
        height: 10vh;
        text-align: center;
    }

    #stopka a {
        position: relative;
        display: inline-block;
        padding: 1vh 2vh;
        border-radius: 0px;
        background: #003C82 !important;
    }

    #stopka ol a{
        display: block;
        text-decoration: none;
        color: #fafafa;
        padding: 0 5px;
        text-transform: uppercase;
    }


    #stopka ol > li{
        float: left;
        width: calc((100% - 5px) / 5);
        margin-left: 1px;
        height: 9vh;
    }

    #stopka ol > li:hover > a {
        background: rgb(0,37,79);
        background: linear-gradient(180deg, rgba(0,37,79,1) 0%, rgba(0,60,130,1) 100%);

    }

    #stopka ol > li:hover > ul{
        display: block;
    }

    #stopka ol > li > ul {
        display: none;
        width: 100vw !important;
        margin-left: auto;
        margin-right: auto;
        list-style-type: none;
        padding: 0;
    }

    #punkty{
        left: 0;
        position: absolute;
    }

    #logowanie{
        left: 0;
        position: absolute;
    }


    #stopka  ol > li > ul > li{
        position: relative;
        height: 6vh;
        background: rgb(0,60,130);
        background: linear-gradient(0deg, rgba(0,60,130,1) 0%, rgba(3,84,179,1) 100%);
        box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px;
    }

    #stopka  ol > li > ul > li > a{
        position: absolute;
        padding: 1.5vh 5vw;
        height: 100%;
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
        font-size: 1rem;
    }


    #stopka ol > li > ul > li:hover{
        background-color: #DDD;
    }


    #stopka a:hover{
        color: #ffffff;
    }

    #google_translate_element, #google_translate_element *{
        height: 9.2vh !important;
        overflow:hidden;
    }
}