@media only screen and (min-width:801px){
    #stopka{
        display:none;
    }
}
@media only screen and (max-width: 800px)
{
    .topBar{
        position: relative !important;
        display:none;
    }

    #stopka{
        display:initial;
        background-color: #003C82;
        width: 100%;
        height: 9vh;
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        z-index: 2;
    }

    #map {
        width: 100%;
        height: calc(100% - 9vh);
        top: 9vh;
        position: absolute;
        border: 0;
        z-index: 1;
    }

    #stopka img{
        margin-top: 2px;
        width: 8vh;
        height: 8vh;
    }

    #stopka:hover{
        background: rgb(0,37,79);
        background: linear-gradient(180deg, rgba(0,37,79,1) 0%, rgba(0,60,130,1) 100%);
    }

    #stopka ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #003C82;
        height: 8vh;
        text-align: center;
    }

    #stopka a {
        position: relative;
        display: inline-block;
        padding: 1vh 2vh;
        border-radius: 0px;
        background: #003C82 !important;
    }

    #stopka ol a{
        display: block;
        text-decoration: none;
        color: #fafafa;
        padding: 0 5px;
        text-transform: uppercase;
    }


    #stopka ol > li{
        float: left;
        width: calc((100% - 5px) / 5);
        margin-left: 1px;
        height: 9vh;
    }

    #stopka ol > li:hover > a {
        background: rgb(0,37,79);
        background: linear-gradient(180deg, rgba(0,37,79,1) 0%, rgba(0,60,130,1) 100%);

    }

    #stopka ol > li:hover > ul{
        display: block;
    }

    #stopka ol > li > ul {
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #stopka  ol > li > ul > li{
        position: relative;
        background: rgb(0,60,130);
        background: linear-gradient(0deg, rgba(0,60,130,1) 0%, rgba(3,84,179,1) 100%);
        box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px;
    }

    #stopka ol > li > ul > li:hover{
        background-color: #DDD;
    }


    #stopka a:hover{
        color: #ffffff;
    }

    #google_translate_element, #google_translate_element *{
        height: 9.2vh !important;
        overflow:hidden;
    }

    img[src="/static/j%C4%99zyki.png"]{
        z-index:2 !important;
        transform: translate(110%,-113%);
        pointer-events:none;
    }
}