* {
    box-sizing: border-box;
}

body {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

body, html {

    font-family: "Roboto";
    margin: 0;
    padding: 0;
	height: 100%;
}

    /* STRONA GŁÓWNA */
.topBar {
    background-color: white;
    width: 100%;
    height: auto;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 2;
}

#map {
    width: 100%;
    height: calc(100% - 32px);
    top: 32px;
    position: relative;
    border: 0;
    z-index: 1;
}

    /* LISTA ROZWIJANA */
.topBar ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #003C82;
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

.topBar ol a {
    display: block;
    text-decoration: none;
    color: #fafafa;
    padding: 0 5px;
}

.topBar ol > li > a:first-child {
    padding: 0;
    height: 2em;
}

.topBar ol > li {
    float: left;
    width: calc((100% - 36px) / 4);
    margin-left: 1px;
    height: 2em;
}

.topBar ol > li:first-child {
    margin-left: 0;
    left: 32px;
    width: 32px;
    padding: 0;
}

.topBar ol > li:hover {
    background-color: #EEE;
}

.topBar ol > li:hover > a {
    background: rgb(0,37,79);
    background: linear-gradient(180deg, rgba(0,37,79,1) 0%, rgba(0,60,130,1) 100%);
}

.topBar ol > li:hover > ul {
    display: block;
}

.topBar ol > li > ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topBar ol > li > ul > li {
    position: relative;
    background: rgb(0,60,130);
    background: linear-gradient(0deg, rgba(0,60,130,1) 0%, rgba(3,84,179,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 5px;
}

.topBar ol > li > ul > li:hover {
    background-color: #DDD;
}

.topBar ol > li > ul > li:hover > a {
    background: rgb(0,60,130);
    background: linear-gradient(0deg, rgba(0,60,130,1) 0%, rgba(5,91,191,1) 100%);
}

.topBar a:hover {

    color: #aeaeae;
}