{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet"  href="{% static 'budynki.css' %}">

<div class="kontenerBudynki">
    <div id="liniaGorna">
        <h1>Budynki</h1>
        <form action="{%url 'budynki' %}" method="get">
            <input type="text" id="szukaj" name="q" placeholder="Wpisz nazwę lub adres" autocomplete="off">
        </form>
    </div>
    <div id="tabelka">
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Adres</th>
                <th></th>
            </tr>
        {% for ob in obiekty_user %}
        <tr>
            <td>{{ob.nazwa}}</td>
            <td>{{ob.adres}}</td>
            <td>
                <a href = "{{ob.id_obiektu}}" >
                    Szczegóły
                </a>
            </td>
        </tr>
            {% empty %}
        <tr>
            <td colspan="3">Brak budynków</td>
        </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock content %}

