{% extends "base.html" %}
{% load static %}

{% block head %}

<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("mapa-glowna"), {
            zoom: 17,
            center: { lat: 50.01950808183996, lng: 21.989112773557373},
        });

        var infowindow = new google.maps.InfoWindow();

        var marker;

        {% for i in punkty %}
        marker = new google.maps.Marker({
            position: { lat: {{ i.długość_geograficzna }}, lng: {{ i.szerokość_geograficzna }}},
            map: map,
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(LocationsForMap[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));

      {% endfor %}
    }
</script>

{% endblock head %}


{% block content %}

<style type="text/css">
    #mapa-glowna {
        width: 100%;
        height: calc(100% - 32px);
        top: 32px;
        position: absolute;
        border: 0;
        z-index: 1;
    }
</style>

<div id="mapa-glowna"></div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCan_xu4WQrClbqr-3Beiv4IgEOWUTzWSw&callback=initMap"
    async
></script>

{% endblock content %}