{% extends "base.html" %}
{% load static %}

{% block head %}

<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("mapa-glowna"), {
            zoom: 17,
            center: { lat: 50.01950808183996, lng: 21.989112773557373},
        });

        const image = {
            url: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
            size: new google.maps.Size(20, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32),
        };

        const shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: "poly",
        };

        var infowindow = new google.maps.InfoWindow();

        var marker, j = 0;

        {% for i in punkty %}
        marker = new google.maps.Marker({
            position: { lat: {{ i.szerokość_geograficzna }}, lng: {{ i.długość_geograficzna }}},
            map: map,
            animation: google.maps.Animation.DROP,
            icon: image,
            shape: shape,
            title: "{{ i.nazwa }}",
        });

        google.maps.event.addListener(marker, 'click', (function(marker, j) {
        return function() {
          infowindow.setContent('<a href = "/punkty/{{i.id_punktu}}/">{{ i.nazwa }}</a>');
          infowindow.open(map, marker);
        }
      })(marker, j));
        j = j + 1;
        {% endfor %}
        
        {% for k in budynki %}
        marker = new google.maps.Marker({
            position: { lat: {{ k.szerokość_geograficzna }}, lng: {{ k.długość_geograficzna }}},
            map: map,
            animation: google.maps.Animation.DROP,
            icon: image,
            shape: shape,
            title: "{{ k.nazwa }}",
        });

        google.maps.event.addListener(marker, 'click', (function(marker, j) {
        return function() {
          infowindow.setContent('<a href = "/budynki/{{k.id_obiektu}}/">{{ k.nazwa }}</a>');
          infowindow.open(map, marker);
        }
      })(marker, j));
        j = j + 1;
        {% endfor %}

    }
</script>

{% endblock head %}


{% block content %}

<style type="text/css">
    #mapa-glowna {
        width: 100%;
        height: calc(100% - 32px);
        top: 32px;
        position: absolute;
        border: 0;
        z-index: 1;
    }
    @media only screen and (max-width: 1000px)
    {
        body{
            top: 11vh !important;
            height: calc(100% - 11vh);
            position: absolute !important;
        }

        #mapa-glowna {
            top: 0;
        }

        .topBar{
            position: relative !important;
        }
    }
</style>

<div id="mapa-glowna">{{i.szerokość_geograficzna}}</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCan_xu4WQrClbqr-3Beiv4IgEOWUTzWSw&callback=initMap"
    async
></script>

{% endblock content %}