{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet"  href="{% static 'punkt.css' %}">
<link rel="stylesheet"  href="{% static 'punkt_mobilne.css' %}">
<link rel="stylesheet"  href="{% static 'pracownicy.css' %}">

<div class="kontenerPunkty">
    <div id="liniaGorna">
        <h1>Witaj, {{ user.username }}!</h1>
    </div>
    <div id="tabelka">
        <table>
            <tr>
                <th colspan="3">Mój profil</th>
            </tr>
            <tr>
                <td class="doPrawej">Imię:</td>
                <td colspan="2" class="doLewej">{{ user.first_name }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Nazwisko:</td>
                <td colspan="2" class="doLewej">{{ user.last_name }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Adres e-mail:</td>
                <td colspan="2" class="doLewej">{{ user.email }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Data założenia konta:</td>
                <td colspan="2" class="doLewej">{{ user.date_joined }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Telefon:</td>
                <td colspan="2" class="doLewej">{{ pracownik.kontakt }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Przydzielony punkt:</td>
                <td colspan="2" class="doLewej">{{ pracownik.punkt.nazwa }}</td>
            </tr>
            <tr>
                <th>
                    <a href="{% url 'panel-pracownika-zmiana-hasla'%}" class="btn btn-default navbar-btn">
                        Zmiana hasła
                    </a>
                </th>
                <th>
                    <a href="{% url 'panel-pracownika-usun-konto'%}" class="btn btn-default navbar-btn">
                        Usuń konto
                    </a>
                </th>
                <th>
                    <a href="{% url 'panel-pracownika-punkty'%}" class="btn btn-default navbar-btn">
                        Punkt
                    </a>
                </th>
            </tr>
        </table>
    </div>
</div>



{% include 'stopka.html' %}
{% endblock content %}