{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<link rel="stylesheet"  href="{% static 'budynki.css' %}">

<h1>Punkt</h1>
{% for punkt in punkty %}
    <p>---</p>
    <p>Nazwa: {{ punkt.nazwa }}</p>
    <p>Informacje: {{ punkt.informacje }}</p>
    <p>Nr Telefonu: {{ punkt.nr_telefonu }}</p>
    <p>---</p>

   <legend>Edytuj punkt</legend>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Zaktualizuj</button>
    </form>
    {% endfor %}
<a href="{% url 'panel-pracownika' %}">powrót do panelu pracownika</a>
{% include 'stopka.html' %}
{% endblock content %}