{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<link rel="stylesheet"  href="{% static 'budynki.css' %}">
<link rel="stylesheet"  href="{% static 'punkt.css' %}">
<link rel="stylesheet"  href="{% static 'punkt_mobilne.css' %}">
<link rel="stylesheet"  href="{% static 'pracownicy.css' %}">
<link rel="stylesheet"  href="{% static 'logowanie.css' %}">


<div class="kontenerPracownicy">
    <div id="tabelka">
        <table>
            <tr>
                <th colspan="3">Punkt</th>
            </tr>
            {% for punkt in punkty %}
                <tr>
                    <td class="doPrawej">Nazwa:</td>
                    <td colspan="2" class="doLewej">{{ punkt.nazwa }}</td>
                </tr>
                <tr>
                    <td class="doPrawej">Informacje:</td>
                    <td colspan="2" class="doLewej">{{ punkt.informacje }}</td>
                </tr>
                <tr>
                    <td class="doPrawej">Numer Telefonu:</td>
                    <td colspan="2" class="doLewej">{{ punkt.nr_telefonu }}</td>
                </tr>
            {% endfor %}



            <tr>
                <td colspan="3">
                    <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br> </br>
                        <button type="submit">Zaktualizuj</button>
                    </form>
                 </td>


            </tr>
            <tr>
                 <th colspan="3">
                    <a href="{% url 'panel-pracownika' %}">Powrót do Panelu Pracownika</a>
                </th>
            </tr>



        </table>
    </div>
</div>


{% include 'stopka.html' %}
{% endblock content %}