{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet"  href="{% static 'punkty.css' %}">

<div class="kontenerBudynki">
    <div id="liniaGorna">
        <h1>{{ kategoria.nazwa_kategorii }}</h1>
            <input type="text" id="szukaj" name="q" placeholder="Wpisz nazwę" autocomplete="off">
        </form>
    </div>
    <div id="tabelka">
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Obiekt</th>
                <th>Kontakt</th>
                <th></th>
            </tr>
        {% for i in punkty %}
        <tr>
            <td>{{ i.nazwa }}</td>
            <td>{{ i.obiekt_id_obiektu.nazwa_obiektu }}</td>
            <td>{{ i.numer_telefonu }}</td>
            <td>
                <a href = "{% url 'punkt.html' i.id_punktu %}" >
                    Szczegóły
                </a>
            </td>
        </tr>
            {% empty %}
        <tr>
            <td colspan="3">Brak punktów</td>
        </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock content %}

