{% extends "base.html" %}

{% block content %}

{% load myapp_tags %}
{% load static %}
<link rel="stylesheet"  href="{% static 'punkt.css' %}">
<link rel="stylesheet"  href="{% static 'punkt_mobilne.css' %}">

<div class="kontenerPunkty">
    <div id="liniaGorna">
        <h1>PUNKT</h1>
    </div>
    <div id="tabelka">
        <table>
            <tr>
                <th colspan="2">{{ punkt.nazwa }}</th>
            </tr>
            <tr>
                <td colspan="2">ZDJĘCIE</td>
            </tr>
            <tr>
                <td class="doPrawej">Kategoria:</td>
                <td class="doLewej">{{ punkt.kategoria_id_kategorii.nazwa_kategorii }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Obiekt:</td>
                <td class="doLewej">{{ punkt.obiekt_id_obiektu.nazwa }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Adres:</td>
                <td class="doLewej">{{ punkt.obiekt_id_obiektu.adres }}</td>
            </tr>
            <tr>
                <td class="doPrawej">Ułatwienia dla niepełnosprawnych:</td>
                <td class="doLewej">{% if punkt.obiekt_id_obiektu.ułatwienia_dla_niepełnosprawnych == 1 %} Tak {% else %} Nie {% endif %}</td>
            </tr>
            <tr>
                <td class="doPrawej">Kontakt:</td>
                <td class="doLewej">{{ punkt.nr_telefonu }}</td>
            </tr>
            <tr>
                <td class="doPrawej">
                    poniedziałek:<br>
                    wtorek:<br>
                    środa:<br>
                    czwartek:<br>
                    piątek:<br>
                    sobota:<br>
                    niedziela:
                </td>
                <td class="doLewej">
                    {{ godzina.1.godz_otw }} - {{ godzina.1.godz_zamkn }}<br>
                    {{ godzina.2.godz_otw }} - {{ godzina.2.godz_zamkn }}<br>
                    {{ godzina.3.godz_otw }} - {{ godzina.3.godz_zamkn }}<br>
                    {{ godzina.4.godz_otw }} - {{ godzina.4.godz_zamkn }}<br>
                    {{ godzina.5.godz_otw }} - {{ godzina.5.godz_zamkn }}<br>
                    {{ godzina.6.godz_otw }} - {{ godzina.6.godz_zamkn }}<br>
                    {{ godzina.7.godz_otw }} - {{ godzina.7.godz_zamkn }}
                </td>
            </tr>
            <tr>
                <td colspan="2"><a href="" id="lewo">POKAŻ NA MAPIE</a>
                <a href="" id="prawo">NAWIGACJA</a></td>
            </tr>
        </table>
    </div>
</div>

{% endblock content %}

