{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet"  href="{% static 'rejestracja.css' %}">
<link rel="stylesheet"  href="{% static 'rejestracja_mobilne.css' %}">

<div class="kontenerRejestracja">
    <div>
        <table>
            <tr>
                <th colspan="2">LOGOWANIE</th>
            </tr>

            <form action="" method="get">
            <tr>
                <td>Login:</td>
                <td><input type="text" class="log" name="log" placeholder="Wpisz login"></td>
            </tr>
            <tr>
                <td>Hasło:</td>
                <td><input type="password" class="log" name="pas" placeholder="Wpisz hasło"></td>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="bt">
                <a href="/rejestracja/">Rejestracja</a></td>
            </tr>
            </form>
        </table>
    </div>
</div>

{% endblock %}