{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet"  href="{% static 'logowanie.css' %}">
<link rel="stylesheet"  href="{% static 'logowanie_mobilne.css' %}">

<div class="kontenerLogowanie">
    <div>
        <table>
            <tr>
                <th colspan="2">REJESTRACJA</th>
            </tr>

            <form action="" method="get">
                <tr>
                    <td>Email:</td>
                    <td><input type="text" class="log" name="em" placeholder="Wpisz email"></td>
                </tr>
                <tr>
                    <td>Imię:</td>
                    <td><input type="text" class="log" name="im" placeholder="Wpisz imię"></td>
                </tr>
                <tr>
                    <td>Nazwisko:</td>
                    <td><input type="text" class="log" name="naz" placeholder="Wpisz nazwisko"></td>
                </tr>
                <tr>
                    <td>Nr. telefonu:</td>
                    <td><input type="password" class="log" name="pas" placeholder="Wpisz numer telefonu"></td>
                </tr>
                <tr>
                    <td>Podaj hasło:</td>
                    <td><input type="password" class="log" name="pas" placeholder="Wpisz hasło"></td>
                </tr>
                <tr>
                    <td>Powtórz hasło:</td>
                    <td><input type="password" class="log" name="pas" placeholder="Wpisz hasło jeszcze raz"></td>
                </tr>
                <tr id="przyciski">
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" class="bt">
                        <a href="/logowanie/">Powrót</a>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>

{% endblock %}