{% load static %}

<div class="topBar">
    <ol class="menu">
        <li>
            <a href="{% url 'index' %}">
                <img src="{% static 'domek.png' %}" width="28" height="28" id="obr">
            </a>
        </li>
        <li>
            <a href="/budynki/?q=">
                BUDYNKI
            </a>
        </li>
        <li>
            <a href="#">
                PUNKTY ▼
                <ul>
                    <li>
                        <a href="/0/?q=">Wszystko</a>
                    </li>
                {% for i in kategorie %}
                    <li>
                        <a href="/{{i.id_kategorii}}/?q=">{{ i.nazwa_kategorii }}</a>
                    </li>
                {% endfor %}
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                LOGOWANIE ▼
                <ul>
                    <li><a href="/admin/">Administrator</a></li>
                    <li><a href="/logowanie/">Pracownik</a></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                <div id="google_translate_element">
                    <script type="text/javascript">// <![CDATA[
                        function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'pl', includedLanguages: 'pl,en,uk', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                        }
                        // ]]></script>
                    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
                </div>
            </a>
        </li>
    </ol>
</div>
