{% load static %}

<div class="topBar">
    <ol class="menu">
        <li>
            <a href="{% url 'index' %}">
                <img src="{% static 'domek.png' %}" width="28" height="28" id="obr">
            </a>
        </li>
        <li>
            <a href="/budynki/?q=">
                BUDYNKI
            </a>
        </li>
        <li>
            <a href="#">
                PUNKT ▼
                <ul>
                    <li>
                        <a href="{% url 'punkty' 0 %}">Wszystko</a>
                    </li>
                {% for i in kategorie %}
                    <li>
                        <a href="{% url 'punkty' i.id_kategorii %}">{{ i.nazwa_kategorii }}</a>
                    </li>
                {% endfor %}
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                LOGOWANIE ▼
                <ul>
                    <li><a href="/admin">Administrator</a></li>
                    <li><a href="/pracownik">Pracownik</a></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                JĘZYKI ▼
            </a>
        </li>
    </ol>
</div>
