<!DOCTYPE html>
{% load static %}
<html lang="pl">
    <head>
        <title>PRzMapa</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="{% static 'style.css' %}">
        <link rel="stylesheet"  href="{% static 'stopka_mobilna.css' %}">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% block head %}

        {% endblock head %}

    </head>
    <body>
        {% include 'stopka.html' %}
        {% include 'bar.html' %}

        <div id="tlo"></div>
        {% block content %}

        {% endblock content %}

    </body>
</html>