{% load static %}

<div id="stopka">
    <ol class="menu">
        <li>
            <a href="{% url 'index' %}">
                <img src="{% static 'domek.png' %}">
            </a>
        </li>
        <li>
            <a href="/budynki/?q=">
                <img src="{% static 'budynek.png' %}">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'punkty.png' %}">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'logowanie.png' %}">
            </a>
        </li>
        <li>
            <a>
                <img src="{% static 'języki.png' %}">
            </a>
        </li>
    </ol>
</div>