{% load static %}

<div id="stopka">
    <ol class="menu">
        <li>
            <a href="{% url 'index' %}">
                <img src="{% static 'domek.png' %}">
            </a>
        </li>
        <li>
            <a href="/budynki/?q=">
                <img src="{% static 'budynek.png' %}">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'punkty.png' %}">
                <ul id="punkty">
                    <li>
                        <a href="/0/?q=">Wszystkie punkty</a>
                    </li>
                {% for i in kategorie %}
                    <li>
                        <a href="/{{i.id_kategorii}}/?q=">{{ i.nazwa_kategorii }}</a>
                    </li>
                {% endfor %}
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'logowanie.png' %}">
                <ul id="logowanie">
                    <li><a href="/admin/">Administrator</a></li>
                    <li><a href="/login/">Pracownik</a></li>
                </ul>
            </a>
        </li>
        <li>
            <a>
                <img src="{% static 'języki.png' %}">
            </a>
        </li>
    </ol>
</div>