{% load static %}

<div id="stopka">
    <ol class="menu">
        <li>
            <a href="{% url 'index' %}">
                <img src="{% static 'domek.png' %}">
            </a>
        </li>
        <li>
            <a href="/budynki/?q=">
                <img src="{% static 'budynek.png' %}">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'punkty.png' %}">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{% static 'logowanie.png' %}">
            </a>
        </li>
        <li>
            <div id="google_translate_element" style="position: relative; opacity: 0;"></div>
            <a>
                <img src="{% static 'języki.png' %}" style="position: absolute; left: 0; top: 0; z-index: -1;">
            </a>
        </li>
    </ol>
</div>